/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#000000;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

/* Menu */
header {
  background: #111;
  padding: 15px 50px;
  box-shadow: 0 2px 6px rgba(255,255,255,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu li a:hover {
  background: #ff004f;
  box-shadow: 0px 0px 15px #ff004f;
  transform: scale(1.1);

}

/* Home */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 50px 60px;
  min-height: 100vh;
}

.home .intro {
  max-width: 50%;
}

.home .profile-img img {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255,0,80,0.6);
}

/* Botão */
.btn {
  display: inline-block;
  background: #ff004f;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ff004f;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff004f;
}

/* Skills */
.skills {
  padding: 80px 50px;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.skill-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.skill-card img {
  width: 100px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ff004f;
}

/* Projects */
.projects {
  padding: 80px 50px;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.project-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  height: auto;
  margin: 10px;
}

.project-card img {
  width: 90px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ff004f;
}

/* Contact */
.contact {
  padding: 80px 50px;
  text-align: center;
}

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.contact textarea {
  resize: none;
  height: 120px;
}

/* Rodapé */
footer {
  background: #111;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 -2px 6px rgba(255,255,255,0.1);
}
